// BG COLORS
$light-bg: rgb(237, 235, 252);
$primary-bg: rgb(104, 139, 255);
$secondary-bg: rgb(128, 128, 128);
$success-bg: rgb(71, 179, 71);
$danger-bg: rgb(224, 90, 90);

// TEXT_COLORS
$light-text: white;
$dark-text: #444;

// BG HOVER
$primary-bg-hover: rgb(71, 107, 226);
$secondary-bg-hover: rgb(114, 113, 113);
$success-bg-hover: rgb(51, 165, 51);
$danger-bg-hover: rgb(182, 59, 59);
